html, body, .container{
  height: 100%;
}


.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }

.myGrid{
  width: 500px;
  height: 250px;
}

.typeahead-demo{
  .custom-popup-wrapper {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1000;
      display: none;
      background-color: #f9f9f9;
      > .message{
        padding: 10px 20px;
        border-bottom: 1px solid #ddd;
        color: #868686;      
      }
      > .dropdown-menu {
        position: static;
        float: none;
        display: block;
        min-width: 160px;
        background-color: transparent;
        border: none;
        border-radius: 0;
        box-shadow: none;
      }
  }
}

.fonto{
  height: 100%;
}
.fonto-wrapper{
 height: 80%;
 width: 100%; 
}