<h3>UI Bootstrap control test (Datapicker)</h3>
<pre>Selected date is: <em>{{dt | date:'fullDate' }}</em></pre>

<div uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="options"></div>

<hr />
<button type="button" class="btn btn-sm btn-info" ng-click="today()">Today</button>
<button type="button" class="btn btn-sm btn-default" ng-click="setDate(2009, 7, 24)">2009-08-24</button>
<button type="button" class="btn btn-sm btn-danger" ng-click="clear()">Clear</button>
<button type="button" class="btn btn-sm btn-default" ng-click="toggleMin()" uib-tooltip="After today restriction">Min date</button>
