<h2>FontoXML Embedded iFrame</h2>

<a href="http://localhost:8080" target="fontoxmliframe">Load document</a>

<div class="fonto-wrapper xembed-responsive">
    <iframe class="xembed-responsive-item" name="fontoxmliframe" height=100% width=100%></iframe>
</div>