<h2>Local Storage</h2>

<p>Supported on this device? <b>{{isSupported}}</b></p>

<div ng-show="isSupported">

<p>Add Key:</p>

<input type="text" ng-model="theKey" >
<input type="text" ng-model="theValue">
<input type="submit" ng-click="submit()" ng-disabled="!(theKey.length && theValue.length)">


<h4>Local Storage for the pmi app: </h4>
<p ng-repeat="key in allKeys">{{key}}</p>
<input type="submit" ng-click="clearAll()" value="Clear all keys">



</div>